source https://nuget.org/api/v2
nuget Angara.Serialization ~> 0.3.0
nuget Angara.Statistics ~> 0.1
nuget System.Collections.Immutable 1.1.36

group Build
  source https://nuget.org/api/v2
  nuget Yarnpkg.Yarn ~> 1.6.0
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2  
  nuget Angara.Serialization.Json ~> 0.3.0
  nuget FsCheck
  nuget FsCheck.NUnit
  nuget FsUnit
  nuget Newtonsoft.Json >= 10.0.1
  nuget NUnit 2.6.4
  nuget NUnit.Runners 2.6.4
